<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
      <link rel="stylesheet" href="{% static 'FieldOfficerManagment/css/bootstrap.min.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'FieldOfficerManagment/css/style.css' %}"/>
 <link rel="stylesheet" type="text/css" href="{% static 'FieldOfficerManagment/css/jquery-ui.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

     <script src="{% static 'FieldOfficerManagment/js/bootstrap.min.js' %} "></script>

     <script src="{% static 'FieldOfficerManagment/js/jquery-1.12.4.js' %} "></script>
     <script src="{% static 'FieldOfficerManagment/js/jquery-ui.js' %} "></script>


    <script src="{% static 'FieldOfficerManagment/js/main.js' %}"></script>



</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'FieldOfficerManagment:index' %}">Viberr</a>
            <a class="navbar-brand" href="{% url 'FieldOfficerManagment:map_display' %}">Display Map</a>
            <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'FieldOfficerManagment:index' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums</a></li>
                <li class="{% block songs_active %}{% endblock %}"><a href="{% url 'FieldOfficerManagment:songs' 'all' %}"><span class="glyphicon glyphicon-FieldOfficerManagment" aria-hidden="true"></span>&nbsp; Songs</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'FieldOfficerManagment:index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'FieldOfficerManagment:create_album' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
                    </a>
                </li>
                <li>
                    <a href="{% url 'FieldOfficerManagment:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
