<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Viberr{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'FieldOfficerManagment/css/bootstrap.min.css' %}">
     <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'FieldOfficerManagment/css/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'FieldOfficerManagment/css/jquery-ui.css' %}"/>
    <script src="{% static 'FieldOfficerManagment/js/jquery.min.js' %}"></script>
     <script src="{% static 'FieldOfficerManagment/js/bootstrap.min.js' %} "></script>
     <script src="{% static 'FieldOfficerManagment/js/main.js' %}"></script>
     <link rel="stylesheet" href="{% static 'FieldOfficerManagment/css/ol.css' %}" type="text/css">

    <script src="{% static 'FieldOfficerManagment/js/jquery-1.12.4.js' %} "></script>
     <script src="{% static 'FieldOfficerManagment/js/jquery-ui.js' %} "></script>
     <script src="{% static 'FieldOfficerManagment/js/ol.js' %}" type="text/javascript"></script>
<script>
 $(function () {
     $(".datefield" ).datepicker({
        dateFormat : 'dd/mm/yy',
        defaultDate: new Date()
    });
            $(".datefield").datepicker('setDate',new Date());

     $(".datefield").datepicker();
        });
</script>
{% block header %}
{% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
            <a class="navbar-brand" href="{% url 'FieldOfficerManagment:index' %}"><img src="{% static 'FieldOfficerManagment/images/logo1.jpg' %} "><span>IMS</span></a>
            </div>    
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'FieldOfficerManagment:index' %}">Dispatched Officer</a></li>
                <li><a href="{% url 'IncidentManagment:incidentList' %}">Show Incidents</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'FieldOfficerManagment:create_Dispatch' %}">Prepare Dispatch</a></li>
                <li><a href="{% url 'IncidentManagment:create_Incident' %}">Add Incident</a></li>
                {% endif %}
            </ul>                      
            
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url "user:logout" %}">Logout</a></li>
                {% else %}
                <li><a href="{% url "user:login" %}">Log in</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
