{% extends 'FieldOfficerManagment/base_map.html' %}
{% block title %}Display map{% endblock %}

{% block body %}

 <div class="content-section col-md-8 col-md-offset-2">
  <center>
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;" novalidate>
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form }}
    </fieldset>
   <center>
    <button class="btn btn-outline-info" type="submit">login</button>
  </center>
  <br/>
  </form>
</center>
 </div>
{% endblock body %}