body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.navbar {
    background-color: #417690;
    border-radius: 0;
}
.navbar a {
    color: #fff;
}
.navbar li a:hover {
    background-color: #08849d;
    border-radius: 5px;

}
.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 90px;
}
.navbar-brand img {
    max-height: 20px;
    margin-top: -14px;
}
.navbar-nav {
    margin-left: 40px;
}
